# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

# Release outputs (optional)
*.apk
*.aab

# IntelliJ / Android Studio
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/inspectionProfiles/

# Keystores (never commit)
*.jks
*.keystore

# Logs
*.log

# SafeDK
**/.safedk/
/.kotlin/sessions/