*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/modules
/.idea/codeStyles
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
/nativetemplates/build/
/nativetemplates/build/intermediates/
/nativetemplates/build/
/nativetemplates/build/.transforms/
/nativetemplates/build/intermediates/
/.safedk/api
/.safedk/dex
/.safedk/app_sdks.lst
/.safedk/hashes.safedk
/.safedk/list.enc
/.safedk/permissions_mapping.json
/.safedk/plugin.properties
/.safedk/proguard-safedk.pro
*.aab
*.apk
.aab
.apk
/.idea/AndroidProjectSystem.xml
.safesdk/
*.jks
*.log
Thumbs.db
.DS_Store
.gradle/
build/
/app/release/
*/release/
/app/build/
*/build/
**/build/