*.iml
.gradle
/.idea
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/modules
/.idea/codeStyles
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/app/build
/release
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
/nativetemplates/build/
/nativetemplates/build/intermediates/
/nativetemplates/build/.transforms/
.safedk/
/.safedk
/.safedk/api
/.safedk/dex
/.safedk/app_sdks.lst
/.safedk/hashes.safedk
/.safedk/list.enc
/.safedk/permissions_mapping.json
/.safedk/plugin.properties
/.safedk/proguard-safedk.pro
/.idea/kotlinc.xml
/.gradle
# Built application files
*.apk
*.ap_
*.aab